<div id="projects" class="bg-dark flex flex-col items-center min-h-screen py-20 md:py-20 px-4">
  <h1 class="text-blue font-bold text-3xl mb-12">PROJECTS</h1>

  <div class="bg-navbar w-full max-w-6xl flex flex-col md:flex-row items-center gap-8 py-8 px-6 md:px-10 rounded-lg shadow-lg">

    <div class="flex flex-col items-center md:items-start text-center md:text-left w-full md:w-2/5">
      <h2 class="text-blue font-bold text-2xl mb-2">Coffee Now</h2>

      <p class="text-white leading-relaxed text-center md:text-justify font-semibold">
        CoffeeNow is a digital solution designed to transform customer service in coffee shops by optimizing the ordering and payment process. Through a web platform accessible via unique QR codes at each table, customers can browse the menu, place their orders, and pay directly from their mobile devices, avoiding lines and reducing wait times. The system also supports role-based management for employees, manual order entry, and real-time order tracking in the kitchen.
      </p>

      <div class="mt-4 flex flex-wrap gap-2 justify-center md:justify-start">
        <span class="bg-dark text-blue px-3 py-1 rounded-md text-sm font-semibold">Angular 19</span>
        <span class="bg-dark text-blue px-3 py-1 rounded-md text-sm font-semibold">Nest.js</span>
        <span class="bg-dark text-blue px-3 py-1 rounded-md text-sm font-semibold">MongoDB</span>
        <span class="bg-dark text-blue px-3 py-1 rounded-md text-sm font-semibold">PostgreSQL</span>
        <span class="bg-dark text-blue px-3 py-1 rounded-md text-sm font-semibold">Docker</span>
        <span class="bg-dark text-blue px-3 py-1 rounded-md text-sm font-semibold">NATS</span>
        <span class="bg-dark text-blue px-3 py-1 rounded-md text-sm font-semibold">Jest</span>
      </div>
    </div>

    <div class="flex flex-col items-center w-full md:w-3/5">
      <img src="assets/CoffeeNowImg.jpg" alt="Screenshot of the CoffeeNow project" class="rounded-lg shadow-md mb-4 w-full h-auto object-cover">

      <div class="flex flex-col sm:flex-row gap-x-6 gap-y-2 w-full justify-center md:justify-start">
        <a href="https://dev.azure.com/julianrodriguezg/Proyecto%20Integrador%201" target="_blank" class="text-blue hover:text-blue-300 font-semibold flex items-center gap-2">
          🚀 <span>Explore the code on Azure DevOps</span>
        </a>
        <a href="assets/CoffeNow.pdf" target="_blank" rel="noopener noreferrer" class="text-blue hover:text-blue-300 font-semibold flex items-center gap-2">
          📄 <span>View project report</span>
        </a>
      </div>
    </div>
  </div>

</div>
