<div id="about" class="bg-dark flex flex-col items-center min-h-screen py-20 md:py-20 px-4">
  <h1 class="text-blue font-bold text-3xl mb-12">ABOUT ME</h1>

  <div class="w-full max-w-4xl flex flex-col gap-8">

    <div
      class="bg-navbar md:bg-transparent p-6 md:p-0 rounded-lg grid grid-cols-1 md:grid-cols-[1fr_3fr] gap-x-8 gap-y-2 text-center md:text-left">

      <h2 class="text-white md:text-blue font-bold text-xl">Who I am</h2>
      <p class="text-white text-lg text-center md:text-justify">
         Technology enthusiast who enjoys transforming ideas into digital solutions. My goal is to combine creativity and technical knowledge to build applications that make an impact.
    </div>

    <div
      class="bg-navbar md:bg-transparent p-6 md:p-0 rounded-lg grid grid-cols-1 md:grid-cols-[1fr_3fr] gap-x-8 gap-y-2 text-center md:text-left">
      <h2 class="text-white md:text-blue font-bold text-xl">Education</h2>
      <p class="text-white text-lg text-center md:text-justify">
        Eighth-semester Systems Engineering student at the University of Antioquia, with a strong academic record and focus on web development, databases, and cloud computing. Active member of AWS Cloud Club UdeA, contributing to Student Community Day Medellín 2025, and recognized as Best Academic Graduate 2020.



    <div
      class="bg-navbar md:bg-transparent p-6 md:p-0 rounded-lg grid grid-cols-1 md:grid-cols-[1fr_3fr] gap-x-8 gap-y-2 text-center md:text-left">
      <h2 class="text-white md:text-blue font-bold text-xl">Tech Skills</h2>
      <div class="flex flex-wrap gap-2 justify-center md:justify-start">
        <span class="bg-dark md:bg-navbar text-blue px-3 py-1 rounded-md text-sm font-semibold">Figma</span>
        <span class="bg-dark md:bg-navbar text-blue px-3 py-1 rounded-md text-sm font-semibold">HTML</span>
        <span class="bg-dark md:bg-navbar text-blue px-3 py-1 rounded-md text-sm font-semibold">CSS</span>
        <span class="bg-dark md:bg-navbar text-blue px-3 py-1 rounded-md text-sm font-semibold">JavaScript</span>
        <span class="bg-dark md:bg-navbar text-blue px-3 py-1 rounded-md text-sm font-semibold">Angular 19</span>
        <span class="bg-dark md:bg-navbar text-blue px-3 py-1 rounded-md text-sm font-semibold">Python</span>
        <span class="bg-dark md:bg-navbar text-blue px-3 py-1 rounded-md text-sm font-semibold">Node.js</span>
        <span class="bg-dark md:bg-navbar text-blue px-3 py-1 rounded-md text-sm font-semibold">NestJS</span>
        <span class="bg-dark md:bg-navbar text-blue px-3 py-1 rounded-md text-sm font-semibold">SQL</span>
        <span class="bg-dark md:bg-navbar text-blue px-3 py-1 rounded-md text-sm font-semibold">Git</span>
        <span class="bg-dark md:bg-navbar text-blue px-3 py-1 rounded-md text-sm font-semibold">GitHub</span>
        <span class="bg-dark md:bg-navbar text-blue px-3 py-1 rounded-md text-sm font-semibold">Azure DevOps</span>
      </div>
    </div>

    <div
      class="bg-navbar md:bg-transparent p-6 md:p-0 rounded-lg grid grid-cols-1 md:grid-cols-[1fr_3fr] gap-x-8 gap-y-2 text-center md:text-left">
      <h2 class="text-white md:text-blue font-bold text-xl">Languages</h2>
      <ul class="text-white text-center md:text-left text-lg list-none p-0 m-0">
        <li><span class="font-semibold">English:</span> Intermediate</li>
        <li><span class="font-semibold">Spanish:</span> Native</li>
      </ul>
    </div>


    <div
      class="bg-navbar md:bg-transparent p-6 md:p-0 rounded-lg grid grid-cols-1 md:grid-cols-[1fr_3fr] gap-x-8 gap-y-2 text-center md:text-left">
      <h2 class="text-white md:text-blue font-bold text-xl">Soft Skills</h2>
      <p class="text-white text-lg text-center md:text-justify ">
        Problem-solving, critical thinking, teamwork, collaboration, adaptability and continuous learning.
      </p>
    </div>
  </div>
</div>
