<!-- <footer class="bg-navbar text-gray-400 py-8 px-4 sm:px-6 lg:px-8">

  <div class="relative max-w-7xl mx-auto flex justify-center items-center">

    <div class="text-center space-y-2">
      <h2 class="text-2xl font-bold text-blue">
        Looking for a Developer? Let’s Connect.
      </h2>
      <p class="font-semibold text-white">
        Designed & developed by Ana Isabel Patiño Osorio.
      </p>
      <p class="text-sm text-gray-500">
        © {{ currentYear }} Ana Isabel Patiño Osorio. All rights reserved.
      </p>
    </div>

    <button
      (click)="scrollToTop()"
      class="absolute right-0 top-1/2 -translate-y-1/2 flex flex-col items-center space-y-1 text-gray-400 hover:text-white transition-colors duration-300 cursor-pointer"
      aria-label="Back to Top">

      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
      </svg>
      <span class="text-xs font-semibold">TOP</span>
    </button>

  </div>
</footer>

 -->
<footer class="bg-navbar text-gray-400 py-8 px-4 sm:px-6 lg:px-8">

  <div class="relative max-w-7xl mx-auto flex flex-col md:flex-row justify-center items-center gap-8 md:gap-0">

    <div class="text-center space-y-2">
      <h2 class="text-xl sm:text-2xl font-bold text-blue">
        Looking for a Developer? Let’s Connect.
      </h2>
      <p class="font-semibold text-white">
        Designed & developed by Ana Isabel Patiño Osorio.
      </p>
      <p class="text-sm text-gray-500">
        © {{ currentYear }} Ana Isabel Patiño Osorio. All rights reserved.
      </p>
    </div>

    <button
      (click)="scrollToTop()"
      class="hidden md:flex flex-col items-center space-y-1 text-gray-400 hover:text-white transition-colors duration-300 cursor-pointer md:absolute md:right-0 md:top-1/2 md:-translate-y-1/2"
      aria-label="Back to Top">

      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
      </svg>
      <span class="text-xs font-semibold">TOP</span>
    </button>

  </div>
</footer>
